.h1LabelCrud {
  position: relative;
  top: 50px;
  font-size: 30px !important;
  text-align: center;
}

.inputNameCrud {
  display: flex;
  width: 300px !important;
  position: relative;
  margin-left: 0px;
  margin-top: 150px;
  margin-bottom: 100px;
  background-color: #ffffff;
  border: 5px solid #126dc8 !important;
  border-radius: 25px !important;
  text-align: center;
}

.ageCrud {
  width: 200px !important;
  position: relative;
  margin-top: 150px;
  margin-bottom: 100px;
  background-color: #ffffff;
  border: 5px solid #126dc8 !important;
  border-radius: 25px !important;
  text-align: center;
}

.isBudgetCrud input[type="checkbox"] {
  position: relative;
  margin-top: 150px;
  margin-bottom: 100px;
  height: 30px;
  width: 30px;
  border: 5px solid #126dc8;
  border-radius: 25px !important;
}

.addButtonCrud {
  position: relative;
  margin-top: 190px !important;
  margin-left: 60px;
  width: 180px;
}

.editInput {
  margin-bottom: 10px;
  border-radius: 15px;
}

.editCheckbox input[type="checkbox"] {
  position: relative;
  color:azure;
  width: 20px;
  height: 20px;
  margin-top: 0px;
  border-radius: 25px !important;
}

.modal-content {
  background-color: #495057 !important;
}

body {
  background-color: #9a9a9a !important;
}
