.lastName {
    display: flex;
    width: 320px !important;
    padding: 0.375rem 0.75rem;
    margin-left: -100px;
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box !important;
    border: 5px solid #126dc8 !important;
    border-radius: 0.25rem !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .firstName {
    display: flex;
    width: 330px !important;
    padding: 0.375rem 0.75rem;
    margin-left: -10px;
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box !important;
    border: 5px solid #126dc8 !important;
    border-radius: 0.25rem !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .age {
    display: flex;
    width: 140px !important;
    padding: 0.375rem 0.75rem;
    margin-left: -10px;
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box !important;
    border: 5px solid #126dc8 !important;
    border-radius: 0.25rem !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .isStudent input[type="checkbox"] {
    margin-top: 155px;
    margin-bottom: 100px;
    height: 30px;
    width: 30px;
    border: solid #126dc8;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
  }
  
  .isStudent input[type="checkbox"] + label {
    margin-top: 155px;
    margin-bottom: 100px;
    margin-left: -80px;
    font-size: 20px;
  }
  
  .addButton {
    display: flex;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-right: -170px;
    width: 200px;
  }
  
  .editLastName {
    margin-bottom: 10px;
    border-radius: 0.25rem;
  }
  .editFirstName {
    margin-bottom: 10px;
    border-radius: 0.25rem;
  }
  
  .editAge {
    margin-bottom: 10px;
    border-radius: 0.25rem;
  }
  .editCheckbox input[type="checkbox"] {
    margin-left: -35px;
    width: 20px;
    height: 20px;
    margin-top: 0px;
  }
  